<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="adam">

  <!-- Load Simulated or Real Hardware Interfaces -->
  <xacro:arg name="is_sim" default="false"/>

  <xacro:include filename="general_variables.xacro"/>
  <xacro:include filename="shapes_inirtia.xacro"/>
  <xacro:include filename="components.xacro"/>
  <xacro:include filename="gazebo_plugins.xacro"/>
  <xacro:include filename="nav2.xacro"/>

</robot>
